Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: account-monitor, auctioneer, bridge-withdrawer, cli, conductor, composer, common, sequencer, sequencer-relayer, astria-merkle, utils

codecov.yml:

comment:
  layout: condensed_header, condensed_files, condensed_footer
  behavior: once
  after_n_builds: 3

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 5
        informational: true
    project:
      default:
        target: auto
        threshold: 5
        informational: true

slack_app: false

component_management:
  individual_components:
    - component_id: astria-account-monitor
      name: account-monitor
      paths:
          - crates/astria-account-monitor/**
    - component_id: auctioneer
      name: auctioneer
      paths:
        - crates/astria-auctioneer/**
    - component_id: bridge-withdrawer
      name: bridge-withdrawer
      paths:
        - crates/astria-bridge-withdrawer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/**
        - crates/astria-core-address/**
        - crates/astria-core-crypto/**
        - crates/astria-eyre/**
        - crates/astria-config/**
        - crates/astria-sequencer-client/**
        - crates/astria-telemetry/**
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: utils
      name: utils
      paths:
        - crates/astria-sequencer-utils/**
        - crates/astria-build-info/**

ignore:
  - crates/astria-bridge-contracts/astria-bridge-contracts/**
  - crates/astria-bridge-contracts/src/generated/**
  - crates/astria-bridge-withdrawer/ethereum/out/**
  - crates/astria-core/src/generated/**
  - crates/astria-grpc-mock/**
  - crates/astria-grpc-mock-test/**
  - crates/astria-grpc-mock-test-codegen/**
  - crates/astria-test-utils/**
  - tools/**
  - lint/**

update nightly version and fix errors
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Cargo.lock
  README.md
  crates/astria-test-utils/Cargo.toml
  justfile
  lint/tracing_debug_field/Cargo.toml
  lint/tracing_debug_field/rust-toolchain
  lint/tracing_debug_field/src/lib.rs
Due: none

update changelogs
  crates/astria-conductor/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer/src/app/tests_app/mod.rs
Due: conductor, common, sequencer, sequencer-relayer

correct changelogs
  crates/astria-conductor/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-sequencer-relayer/CHANGELOG.md
Due: conductor, common, sequencer-relayer

fix(ci): use oidc for depot setup step
  .github/workflows/reusable-docker-build.yml
Due: none

fix(ci): use oidc for depot setup step (#2251)
  .github/workflows/reusable-docker-build.yml
Due: none

revert celestia-node changes
  charts/celestia-node/Chart.yaml
  charts/celestia-node/values.yaml
Due: none

maybe works
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/files/scripts/start-celestia-appd.sh
  dev/values/hermes/local.yaml
Due: none

update to celestia v5
  charts/celestia-local/values.yaml
  charts/celestia-node/values.yaml
Due: none

chore: upgrade celestia charts
  charts/celestia-local/Chart.yaml
  charts/celestia-local/files/scripts/start-celestia-appd.sh
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/values.yaml
Due: none

update to v6
  charts/celestia-local/files/scripts/init-bridge.sh
  charts/celestia-local/files/scripts/start-bridge.sh
  charts/celestia-local/files/scripts/start-celestia-appd.sh
  charts/celestia-local/templates/configmap.yaml
  charts/celestia-local/templates/service.yaml
  charts/celestia-local/templates/statefulsets.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/files/config.toml
  charts/just/defaults.just
  charts/just/run/ibc-test.just
  dev/values/hermes/local.yaml
Due: none

bump chart versions
  charts/celestia-local/Chart.yaml
  charts/celestia-node/Chart.yaml
Due: none

update chart dependency
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

remove CI timeout temporarily
  .github/workflows/test.yml
Due: none

fix lint, tests, add checks to system upgrade test
  charts/sequencer/files/upgrades/custom.upgrades.json
  charts/sequencer/files/upgrades/dawn-1.upgrades.json
  charts/sequencer/files/upgrades/dusk-11.upgrades.json
  charts/sequencer/files/upgrades/mainnet.upgrades.json
  crates/astria-cli/src/sequencer/bridge_sudo_change.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/checked_actions/ibc_relay.rs
  output.txt
  system-tests/blackburn_upgrade_checks.py
  system-tests/helpers/astria_cli.py
  system-tests/helpers/defaults.py
  system-tests/requirements.txt
  system-tests/sequencer_upgrade_test.py
Due: cli, sequencer

remove log file
  output.txt
Due: none

bump chart version
  charts/sequencer/Chart.yaml
Due: none

remove custom dylint
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer/celestia_client/builder.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  justfile
  lint/tracing_debug_field/.cargo/config.toml
  lint/tracing_debug_field/.gitignore
  lint/tracing_debug_field/Cargo.toml
  lint/tracing_debug_field/README.md
  lint/tracing_debug_field/rust-toolchain
  lint/tracing_debug_field/src/lib.rs
  lint/tracing_debug_field/ui/main.rs
  lint/tracing_debug_field/ui/main.stderr
Due: sequencer-relayer

update changelogs
  crates/astria-core/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
Due: common, sequencer

remove unused cli python func
  system-tests/helpers/astria_cli.py
Due: none

update changelogs
  crates/astria-conductor/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-sequencer-relayer/CHANGELOG.md
Due: conductor, common, sequencer-relayer

start local celestia app with min gas price specified
  charts/celestia-local/files/scripts/start-celestia-appd.sh
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/tests.rs
Due: sequencer-relayer

update hermes charts
  dev/values/hermes/full-node-1.yaml
  dev/values/hermes/full-node.yaml
Due: none

pass blackburn test
  charts/evm-rollup/values.yaml
  system-tests/aspen_upgrade_checks.py
  system-tests/helpers/evm_controller.py
  system-tests/helpers/sequencer_controller.py
  system-tests/sequencer_upgrade_test.py
Due: none

update chart versions
  charts/celestia-local/Chart.yaml
  charts/celestia-local/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

remove aspen upgrade from ci
  .github/workflows/docker-build.yml
Due: none

use celestia-app:pr-5831 until they fix
  charts/celestia-local/Chart.yaml
  charts/celestia-local/values.yaml
Due: none

suggested changes
  crates/astria-core/src/upgrades/v1/blackburn.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/bridge/storage/keys.rs
  crates/astria-sequencer/src/bridge/storage/snapshots/astria_sequencer__bridge__storage__keys__tests__bridge_account_disabled_key.snap
Due: common, sequencer

celestia-app v5.0.9
  charts/celestia-local/values.yaml
Due: none

set to softOnly mode
  dev/values/rollup/evm-restart-test.yaml
Due: none

re-add ibc test and post blackburn upgrade tests
  system-tests/blackburn_upgrade_checks.py
  system-tests/helpers/astria_cli.py
  system-tests/helpers/evm_controller.py
  system-tests/sequencer_upgrade_test.py
Due: none

minor updates
  .github/workflows/test.yml
  system-tests/helpers/astria_cli.py
  system-tests/sequencer_upgrade_test.py
Due: none

remove aspen upgrade test code
  dev/values/rollup/evm-restart-test.yaml
  system-tests/aspen_upgrade_checks.py
  system-tests/sequencer_upgrade_test.py
Due: none

made celestia default min gas price configurable
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/builder.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/tests.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
Due: sequencer-relayer

update sequencer chart
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

bump sequencer chart version
  charts/sequencer/Chart.yaml
Due: none

fix post-blackburn condition arguments in upgrade test
  system-tests/sequencer_upgrade_test.py
Due: none
